.issue_commentlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.issueinputform {
  margin: 10px;
}
.commentwirtebox {
  border: 1px solid black;
  margin: 0 10vw;
  border-radius: 0.7em;
}
