.login {
  position: relative;
  margin: 10vh 0;
}
.login > h1 {
  font-size: 40px;
}

.loginButton {
  background: coral;
}
.loginButton:hover {
  background: #fff;
  color: coral;
}
.loginButton:before,
.loginButton:after {
  background: coral;
}
