.main {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  min-height: 75vh;
}
aside {
  background-color: rosybrown;
  width: 10vw;
}
section {
  width: 80vw;
}
footer {
  background-color: green;
  height: 10vh;
}
