.singh {
  position: relative;
  margin: 10vh 0;
}
.singh > h1 {
  font-size: 40px;
}
.singupButton {
  background: darkseagreen;
}
.singupButton:hover {
  background: #fff;
  color: darkseagreen;
}
.singupButton:before,
.singupButton:after {
  background: darkseagreen;
}
