.singh {
  position: relative;
  margin: 10vh 0;
}
.singh > h1 {
  font-size: 40px;
}
.singhform {
  margin: 10vh 0;
}
.singhform > input {
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 20px 0px 5px 0px;
  font-size: 12pt;
  width: 40%;
}
.singhform > input:focus {
  font-size: 15pt;
}
.singhButtons {
  margin: 8vh 0;
}

.singhButton {
  background: lightcoral;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 30px;
  margin: 0 20px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.singhButton:hover {
  background: #fff;
  color: lightcoral;
}
.singhButton:before,
.singhButton:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: lightcoral;
  transition: 400ms ease all;
}
.singhButton:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.singhButton:hover:before,
.singhButton:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
